{% extends "base.html" %}

{% block title %}Tic Tac Toe{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tictactoe.css') }}">
{% endblock %}

{% block content %}
<h1>Tic Tac Toe Game</h1>
<h2>{{ status }}</h2>

    <div class="board" id="game-board">
        {% for cell in board %}
            {% if cell == "-" and game_running %}
                <a href="{{ url_for('tictactoe_move', position=loop.index0) }}">
                    <button>{{ cell }}</button>
                </a>
            {% else %}
                <button disabled>{{ cell }}</button>
            {% endif %}

            {% if loop.index % 3 == 0 %}
                <br>
            {% endif %}
        {% endfor %}
    </div>
    <br>

    <a href="{{ url_for('tictactoe_reset') }}"><button>Restart Game</button></a>
    <a href="/multiplayer" class="btn-back">← Back to Two Player Games</a>

{% endblock %}